  header, aside, section, footer {
    grid-column: span 2;
  }

  @media(min-width: 768px) {
    header {
      grid-column: span 5;
    }
    aside {
      grid-column: span 1;
      grid-row: span 4;
    }
    footer {
      grid-column: span 4;
    }
  }