
/* Mobile View */
#a{
    background-color: blue;

  }
  
  #b{
    background-color: red;

}
  
  #c{
    background-color: green;

}
  
  #d{
    background-color: yellow;

}
  
  #e{
    background-color: aquamarine;

}
  
  #f{
    background-color: magenta;

  }
  
  #g{
    background-color: pink;

  }
  
  #h{
    background-color: brown;
  }
  
  #i{
    background-color: Chartreuse;
  }
  





  /* Tablet View */
  @media(min-width: 768px){
    #a{
      background-color: blueviolet;
    }
    
    #b{
      background-color: grey;
    }
    
    #c{
      background-color: goldenrod;
    }
    
    #d{
      background-color: hotpink;
    }
    
    #e{
      background-color: orange;
    }
    
    #f{
      background-color: yellow;
    }
    
    #g{
      background-color: pink;
    }
    
    #h{
      background-color: blue;
    }
    
    #i{
      background-color: limegreen;
    }
  }
  
  /* Desktop View */
  @media(min-width: 960px){
    #a{
      background-color: rgb(76, 150, 153);
    }
    
    #b{
      background-color: orangered;
    }
    
    #c{
      background-color: pink ;
    }
    
    #d{
      background-color: rgb(20, 37, 83);
    }
    
    #e{
      background-color: rgb(87, 65, 38);
    }
    
    #f{
      background-color: rgb(8, 238, 238);
    }
    
    #g{
      background-color: rgb(167, 143, 206);
    }
    
    #h{
      background-color: rgb(155, 92, 51);
    }
    
    #i{
      background-color: rgb(80, 155, 37);
    }
  }